.logo {
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 5px;

  p {
    margin: 0;
    padding: 0;
  }

  p:first-of-type {
    align-self: flex-end;
  }
}

.logo--small p {
  font-size: 14px;
  line-height: 17px;
}

.logo__link {
  color: @basic-white;
  text-decoration: none;
}

.logo__grid {
  display: grid;
  grid-template-columns: min-content 200px;
  column-gap: 29px;
}

.logo__image {
  display: block;
  grid-row-start: 1;
  grid-row-end: 3;
}

.logo--small .logo__grid {
  column-gap: 24px;
}

@media (max-width: 600px) {
  .logo__grid {
    grid-template-columns: min-content;
  }

  p {
    display: none;
  }
}
