.feedback {
  padding-top: 25px;
  padding-bottom: 106px;
}

.feedback__fieldset {
  display: grid;
  grid-template-columns: 1fr 342px 321px;
  gap: 30px;
  padding-right: 25px;
  margin-bottom: 25px;
}

.feedback__confidentiality {
  font-size: 21px;
  line-height: 32px;
  font-weight: 300;
}
