.rate {
  padding-top: 50px;
  margin-bottom: 50px;
}

.rate__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.rate__item {
  position: relative;
}

.rate__card {
  border: 3px solid @basic-green;
  border-radius: 30px;
  padding: 26px 26px 52px;
  color: @basic-green;
  font-weight: normal;
  font-size: 21px;
  line-height: 24px;
  display: block;
  height: 100%;
  box-sizing: border-box;

  small {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 20px;
  }
}

.rate__radio:checked ~ .rate__card {
  background-color: @basic-green;
  color: @basic-white;
}

.rate__radio:checked ~ .rate__checkbox-label {
  display: flex;
}

.rate__card-title {
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 22px;
  display: block;
}

.rate__card-item {
  display: block;

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.rate__checkbox-label {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: none;
  color: @basic-white;

  span {
    border-color: @basic-white;

    &::before {
      background-color: @basic-white;
    }
  }
}

@media (max-width: 1450px) {
  .rate__list {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 991px) {
  .rate {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .rate {
    padding: 10px 0;
    margin-bottom: 10px;
  }

  .rate__card {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 21px;

    h3 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 576px) {
  .rate__list {
    grid-template-columns: 1fr;
  }
}
