.tickets {
  padding-top: 52px;
  padding-bottom: 52px;
}

.tickets__heading {
  margin-bottom: 25px;
}

.tickets__fieldset {
  display: grid;
  grid-template-columns: 290px 1fr;
  column-gap: 30px;
}
