.contacts-section {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: url("../img/bg/phone.png") no-repeat center left;
}

.contacts__heading {
  margin-bottom: 62px;
}

.user__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 186px;
}

.user__info input {
  width: 678px;
  margin-bottom: 20px;
}

.submit-button {
  width: 304px;
}
