.intro__wrapper {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 60px;

  @media (max-width: 1620px) {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1500px) {
    flex-direction: column;
    margin-top: 50px;
  }
}

.intro-heading {
  font-size: 60px;
  line-height: 73px;
  font-weight: 400;
  width: 670px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  @media (max-width: 860px) {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 60px;
  }

  @media (max-width: 500px) {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
}

.video-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.video-item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.35);
  img {
    display: block;

    @media (max-width: 860px) {
      width: 100%;
    }
  }
}

.video-item video {
  display: block;

  @media (max-width: 860px) {
    width: 100%;
  }
}

.video-toggles {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85px;
}

.slider-toggle {
  display: block;
  margin: 0;
  padding: 0;
  width: 17px;
  height: 17px;
  border: none;
  border-radius: 50%;
}

.slider-toggle:not(:last-child) {
  margin-right: 30px;
}
