.page-header {
  background: url("../img/bg/header-bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 1081px;
}

.page-header__wrapper {
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: 1620px) {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.page-header__top {
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
}

.page-heading {
  font-size: 140px;
  line-height: 171px;
  font-weight: 600;

  span {
    font-size: 296px;
    line-height: 240px;
  }

  @media (max-width: 1200px) {
    font-size: 100px;
    line-height: 140px;

    span {
      font-size: 2em;
      line-height: 200px;
    }
  }

  @media (max-width: 800px) {
    font-size: 75px;

    span {
      line-height: 150px;
    }
  }

  @media (max-width: 600px) {
    font-size: 50px;

    span {
      line-height: 50px;
    }
  }

  @media (max-width: 400px) {
    font-size: 35px;

    span {
      line-height: 35px;
    }
  }
}

.page__heading {
  display: block;
  width: 925px;
  margin-top: 104px;
  text-align: right;

  span {
    display: block;
    margin-left: -30px;
    padding: 0;
    text-align: left;

    @media (max-width: 1200px) {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  @media (max-width: 1200px) {
    width: 100%;
    text-align: center;
  }
}

.header__links {
  display: grid;
  grid-template-columns: 425px 65px;
  row-gap: 18px;
  column-gap: 80px;

  @media (max-width: 1200px) {
    grid-template-columns: 425px;
  }

  @media (max-width: 800px) {
    grid-template-columns: 200px;
  }
}

.contacts {
  margin: 0;
  padding: 0;
  justify-self: flex-end;
  list-style: none;
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-right: 14px;
}

.contacts__link {
  display: block;
  margin: 0;
  padding: 0;

  img {
    @media (max-width: 600px) {
      width: 40px;
      height: 40px;
    }
  }
}

.language {
  justify-self: flex-end;

  @media (max-width: 1200px) {
    order: -1;
  }
}

.language-toggle {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  :first-of-type {
    margin-right: 10px;
  }
}

.language-toggle-arabian {
  background: url("../img/logos/arabian.svg") no-repeat center;
}

.language-toggle-arabian--active, .language-toggle-arabian:hover {
  background: url("../img/logos/arabian-active.svg") no-repeat center;
}

.language-toggle-english {
  background: url("../img/logos/english.png") no-repeat center;
}

.language-toggle-english--active, .language-toggle-english:hover {
  background: url("../img/logos/english-active.png") no-repeat center;
}

.main-nav {
  justify-self: flex-end;

  @media (max-width: 800px) {
    display: none;
  }
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  Width: 425px;
}

.nav-list a {
  color: @basic-white;
  text-decoration: none;
}

.nav__list a {
  margin-right: 10px;
}

.nav-item:last-child a {
  margin: 0;
}
