.page-header {
  background: url("../img/bg/header-bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 1081px;
}

.page-header__wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.page-header__top {
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
}

.page-heading {
  font-size: 140px;
  line-height: 171px;
  font-weight: 600;
  span {
    font-size: 296px;
    line-height: 296px;
  }
}

.page__heading {
  display: block;
  width: 940px;
  margin-top: 105px;
  text-align: right;
  span {
    display: block;
    margin-left: -20px;
    padding: 0;
    text-align: left;
  }
}

.header__links {
  display: grid;
  grid-template-columns: 423px 144px;
  row-gap: 22px;
}

.contacts {
  margin: 0;
  padding: 0;
  justify-self: flex-end;
  list-style: none;
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-right: 14px;
}

.contacts__link {
  display: block;
  margin: 0;
  padding: 0;
}

.language {
  justify-self: flex-end;
}

.language-toggle {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.toggle-image {
  display: block;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.toggle-arabian {
  background: url("../img/logos/arabian.svg") no-repeat center;
}

.toggle-arabian--active {
  background: url("../img/logos/arabian-active.svg") no-repeat center;
}

.toggle-english {
  background: url("../img/logos/english.png") no-repeat center;
}

.toggle-english--active {
  background: url("../img/logos/english-active.png") no-repeat center;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-list a {
  color: @basic-white;
  text-decoration: none;
}

.nav__list a {
  margin-right: 10px;
}

.nav-item:last-child a {
  margin: 0;
}
