.tours__wrapper {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 138px;
}

.tours__section-heading {
  margin-bottom: 83px;
}

.tours-list {
  list-style: none;
  margin: 0;
  margin-bottom: 76px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.tours-item {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  min-width: 582px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 34px 38px 29px 38px;
  color: @basic-black;
  p {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  span:first-child {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
  }
}

.tours-item:nth-child(2n) {
  margin-right: 0;
}

.tours__item--growed {
  flex-grow: 1;
}

.tours-heading {
  margin: 0;
  margin-bottom: 8px;

  font-family: "Roboto", sans-serif;
  font-size: 37px;
  line-height: 43px;
  font-weight: 700;
}

.stars {
  margin-bottom: 38px;
}

.tours-cost {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 52px;
  line-height: 63px;
  font-weight: 800;
  color: @basic-green;
}

.tours-button {
  font-size: 24px;
  line-height: 29px;
  background-color: @basic-green;
  color: @basic-white;
  text-decoration: none;
}

.tours__button {
  display: block;
  box-sizing: border-box;
  max-width: 304px;
  min-height: 72px;
  margin: 0 auto;
  padding: 19px 63px;
  text-align: center;
}
